/* You can delete those if you want. I just found them very helpful */
* {
  box-sizing: border-box;
}
.m {
  /* Don't cut off dropdowns! */
  overflow: initial;
}

.button {
  border-radius: 10px;
  border-style: outset;
  border-width: 6px;
  border-color: lightblue;
  min-width: 200px;
  min-height: 80px;
}
